.con_inner {
  background: linear-gradient(180deg,  #A193861F 0%,  #A193861F 40%, #A1938689 40%, #A1938689 100%);
  text-align: center;
}
.title {
  text-align: initial;
}
.con-icon {
  @include tab {
    display: inline-block;
    
  }
  .con-i-1 {
    width: 52%;
    @include sp {
      width: 43%;
      height: 205px;
      object-position: right top;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
    }
  }
  .con-i-2 {
    width: 30%;
    @include sp {
      width: 43%;
    height: 205px;
      object-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
    }
  }
}

.con-wrap {
  display: flex;
  justify-content: space-between;
  padding: 6% 14%;
  @include tab {
    flex-direction: column;
    padding: 3%;
    padding-top: 50px;
  }
  h1 {
    font-size: 4rem;
    line-height: 6.8rem;
    letter-spacing: 0.5rem;
    color: #FFFFFF;
    font-family: "ヒラギノ明朝 Pro", "游明朝", "游明朝体", "Times New Roman", serif ;
    padding-top: 30px;
    @include tab {
      font-size: 2.9rem;
    }
  }
  p {
    font-size: 1.6rem;
    color: #FFFFFF;
    font-family: "ヒラギノ角ゴ Pro", "Roboto Mono", "Arial", "游ゴシック", "Helvetica Neue", "Hiragino Sans", sans-serif;; 
    width: 47%;
    line-height: 2.7rem;
    letter-spacing: 0.16rem;
    text-align: left;
    @include tab {
      padding: 18px;
      width: 100%;
      margin: 0 auto;
    }
  }
}