header {
  .menu {
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    align-items: center;
    width: 100%;
    padding: 68px 10px 0px 77px;
    position: absolute; //背景画像をヘッダーに被せる
    z-index: 10; //重なり順
    @include tab {
      height: 70px;
      justify-content: space-between;
      position: static; //背景画像の被せ解除
      padding: 24px 21px;
    }
    .fv-h1{
      font-size: 38px;
    }
    .fv-nav {
      font-size: 18px;
      @include tab {
        display: none; //ナビメニュー非表示
      }
    }
    //nav メニュー
    ul {
        li {
          display: inline-block;
          margin-left: 20px;
          color: #707070;
          position: relative;
          text-decoration: none;
          &:hover {
            color: black;
          }
            &:after {
            
              position: absolute;
              bottom: -4px;
              left: 0;
              content: '';
              width: 100%;
              height: 2px;
              background: #333;
              transform: scale(0, 1);
              transform-origin: left top;
              transition: transform .3s;
            }
            &:hover::after {
              transform: scale(1, 1);
            }
          }
      }
      //navメニュー

      //ハンバーガーメニュー
      @include tab {
        .ham {
          width: 16px;
          height: 14px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
          span {
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: black;
          }
          .ham-3 {
            width: 10px; //一番下の線
          }
        // ハンバーガーメニュー
      }
  }
}