html {
  font-size: 62.5%;
}

@mixin pc {
  @media screen and (min-width: 960px) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: 959px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 600px) {
    @content;
  }
}

body {
  font-family: "Roboto Mono", "Arial", "游ゴシック", "Helvetica Neue", "Hiragino Sans", sans-serif;
}
  .title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: 0.54rem;
    color: #707070;
    font-family: "Roboto";
    padding: 261px 0px 11px 107px;
    &:after {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 95px;
      margin-left: 0.85rem;
      border-bottom: 1px solid #707070;
    }
    @include tab {
      padding: 60px 0px 60px 20px;
    }
  }